<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='globals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleguide.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="frame">
      <div class="div">
        <div class="element">
          <div class="overlap">
            <div class="view">
              <div class="text-wrapper">Контакты</div>
              <div class="text-wrapper-2">👤</div>
            </div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <div class="text-wrapper-3">Полезные ссылки</div>
                <div class="text-wrapper-4">🔗</div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap-2">
            <div class="view-2">
              <div class="text-wrapper-5">🛒</div>
              <div class="text-wrapper-6">Сделать заказ</div>
            </div>
            <div class="view-3">
              <div class="text-wrapper-7">📋</div>
              <div class="text-wrapper-8">Мои заказы</div>
            </div>
            <div class="view-4">
              <div class="text-wrapper-9">🧮</div>
              <div class="text-wrapper-10">Калькулятор</div>
            </div>
          </div>
        </div>
        <div class="div-wrapper">
          <div class="overlap-3">
            <img class="photo" src="img/photo-2025-09-13-00-35-56-1.svg" />
            <div class="div-2">
              <img class="dollar-account" src="img/dollar-account.png" />
              <div class="text-wrapper-11">600 ¥</div>
              <p class="p">1 ¥ = 12.32 ₽</p>
              <img class="repeat" src="img/repeat.png" />
            </div>
            <img class="settings" src="img/settings.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
